@media screen and (max-width: 700px){
    main{
        height: auto;
        background-size: cover;
    }
    .container{
        flex-direction: column;
    }
    .formulation{
        height: 50%;
    }
    .formulation__box{
        width: auto;
        position: relative;
    }
    .info .info__title{
        margin: auto;
        font-size: 2rem;
    }
    .info .info__description{
        margin: 0;
        margin-bottom: .8rem;
        padding: .9rem;
        text-align: center;
    }
    .btn-offer{
        margin-top: .5rem;
        padding: 1rem
    }
}
@media screen and (min-width: 1440px){
    .formulation__box{
        width: 38%;
        position: absolute;
        top: 10%;
        left: 52%;
    }
}